**/.git
**/node_modules
**/dist
**/coverage
**/data
**/logs
**/uploads
**/test
**/__tests__
**/*.test.*
**/*.spec.*
**/.env
**/env
**/*.local
**/*.log
**/project.private.config.json
archive
docs
legacy
