TZ=Asia/Shanghai
API_PORT=22102
TRUST_PROXY=0
LOG_HTTP_REQUESTS=1
MQTT_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=node_api_client
AUTH_ENABLED=false
AUTH_USERNAME=admin
AUTH_PASSWORD=
AUTH_SESSION_SECRET=
